@import "tailwindcss";
@import "font-awesome/css/font-awesome.css";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: #fff;
  width: 90%;
  margin: 0 auto;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
